/* МАГ */

.spec-icon-arcane::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/mage_arcane.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-fire::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/mage_fire.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-frost::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/mage_frost.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

/* ПРИСТ */

.spec-icon-disc::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/priest_disc.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-holypriest::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/priest_holy.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-shadow::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/priest_shadow.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

/* МОНАХ */

.spec-icon-brewmaster::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/monk_brewmaster.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-mw::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/monk_mw.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}

.spec-icon-ww::before {
  position: absolute;
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../spec-icons/monk_ww.jpg');
  border: 1px solid #6e6e6e;
  border-top: 1px solid snow;
  border-radius: 2px;
}
